<h1>Editing Web Push Notification</h1>

<%= render 'form', web_push_notification: @web_push_notification %>

<%= link_to 'Show', @web_push_notification %> |
<%= link_to 'Back', web_push_notifications_path %>
